
nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 8px;
padding-right: 8px;
}

body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    color: rgb(159, 132, 184);
}
